
# Dependencies
node_modules/
**/node_modules/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large files
Digital Radiology/Power BI Reports/Dashboards2/Partner Dashboard extracted_tables/FeedFile.csv
Digital Radiology/Power BI Reports/Dashboards3/Commercial Analytics - Funnel Evolution Tracker extracted_tables/T funnel evolution tracker.csv
